/* Reset global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Seções globais */
.seccao-limite {
    max-width: 1024px;
    margin: 0 auto;
    height: 25%;
}

/* topo */
.container-topo {
    width: 100%;
    background-color: #87c3bc;
}

.topo {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.topo-logo {
    display: flex;
    align-items: center;
    gap: 5px;
    width: 100px;
}

.topo-logo h1 {
    font-size: 40px;
    color: #000;
}

.topo-logo p {
    font-size: 18px;
    line-height: 1rem;
}

.topo nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topo nav a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

/* Seção banner */
.seccao-banner {
    width: 100%;
    height: 65vh;
    background: url("../assets/alvo.png") center/cover no-repeat;
}

.seccao-banner:focus {
    outline: 2px solid #000;
}

/* Seção quem somos */
.seccao-quem-somos {
    text-align: center;
    padding: 20px 0;
}

.seccao-quem-somos h2 {
    font-size: 30px;
    color: #000;
    padding: 10px 0;
}

.seccao-quem-somos p {
    font-size: 20px;
    line-height: 1.5rem;
    padding: 10px 0;
}

.container-botao {
    margin: 15px 0;
}

.container-botao button {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px 0;
}

.container-botao button:hover {
    background-color: #20cfb5;
    color: #000;
}

.texto-destaque {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 15px 0;
    background-color: #9EE86D;
}

.texto-destaque h3 {
    font-size: 24px;
    font-weight: 500;
}

.texto-destaque span {
    color: #000;
    font-weight: 700;
    font-size: 22px;
}

.conteiner-detalhes-quem-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.img-quem-somos {
    width: 50%;
    height: 50vh;
}

#img-time-capacitado {
    object-fit: contain;
}

.conteiner-detalhes-quem-somos div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.texto-detalhe-quem-somos {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.conteiner-detalhes-quem-somos div p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5rem;
}

/* Seção rodapé */
.rodape div {
    width: 100%;
    padding: 15px 0;
    background-color: #87c3bc;
}

.rodape div h2 {
    text-align: center;
    font-size: 24px;
    color: #000;
}

.redes-sociais {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.icone {
    width: 25px;
}

.redes-sociais li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.redes-sociais li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.redes-sociais li a:hover {
    cursor: pointer;
}

/* Media Queries */
@media (max-width: 425px) {
    .seccao-limite {
        max-width: 100%;
        height: 100%;
    }

    .topo {
        justify-content: space-around;
    }

    .topo-logo {
        width: 80px;
    }

    .topo-logo h1 {
        font-size: 30px;
    }

    .topo nav a {
        display: none;
    }

    .seccao-banner {
        height: 40vh;
    }

    .seccao-quem-somos {
        padding: 13px 0;
    }

    .seccao-quem-somos h2 {
        font-size: 24px;
    }

    .seccao-quem-somos p {
        padding: 6px 10px;
        font-size: 16px;
        line-height: 1.15rem;
    }

    .texto-destaque {
        padding: 10px 0;
    }

    .texto-destaque h3 {
        font-size: 22px;
    }

    .texto-destaque span {
        font-size: 20px;
    }

    .conteiner-detalhes-quem-somos {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .img-quem-somos {
        width: 100%;
        height: 45vh;
    }

    .conteiner-detalhes-quem-somos div {
        width: 90%;
    }

    .texto-detalhe-quem-somos {
        font-size: 20px;
    }

    .conteiner-detalhes-quem-somos div p {
        font-size: 16px;
    }

    .rodape div {
        padding: 10px 0;
    }

    .rodape div h2 {
        font-size: 22px;
    }

    .redes-sociais li a {
        font-size: 12px;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
    .seccao-limite {
        max-width: 100%;
        height: 100%;
    }

    .topo {
        justify-content: space-around;
    }

    .topo-logo {
        width: 80px;
    }

    .topo nav a {
        display: none;
    }

    .seccao-banner {
        height: 50vh;
    }

    .seccao-quem-somos {
        padding: 13px 0;
    }

    .seccao-quem-somos h2 {
        font-size: 24px;
    }

    .seccao-quem-somos p {
        padding: 6px 18px;
        font-size: 16px;
        line-height: 1.25rem;
    }

    .conteiner-detalhes-quem-somos {
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .img-quem-somos {
        width: 65%;
        height: 45vh;
    }

    .conteiner-detalhes-quem-somos div {
        width: 80%;
    }

    .conteiner-detalhes-quem-somos div p {
        font-size: 16px;
    }

    .rodape div {
        padding: 10px 0;
    }

    .rodape div h2 {
        font-size: 22px;
    }

    .redes-sociais li a {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .seccao-limite {
        max-width: 750px;
        height: 18%;
    }

    .topo-logo h1 {
        font-size: 35px;
    }

    .topo nav a {
        font-size: 20px;
    }

    .seccao-banner {
        height: 55vh;
    }

    .seccao-quem-somos h2 {
        font-size: 26px;
    }

    .seccao-quem-somos p {
        font-size: 18px;
        line-height: 1.25rem;
        padding: 6px 0;
    }

    .img-quem-somos {
        height: 40vh;
    }

    .texto-detalhe-quem-somos {
        font-size: 20px;
    }

    .conteiner-detalhes-quem-somos div p {
        font-size: 16px;
    }
}