/* reset global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.seccao-limite {
    max-width: 1024px;
    height: 25%;
    margin: 0 auto;
}

/* seção topo */
.container-topo {
    width: 100%;
    background-color: #87c3bc;
}

.topo {
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.topo-logo {
    width: 100px;
    height: auto;
    display: flex;
    align-items: center;
    gap: 5px;
}

.topo-logo h1 {
    font-size: 40px;
    color: #000;
}

.topo-logo p {
    font-size: 18px;
    line-height: 1rem;
}

.topo nav {
    display: flex;
    align-items: center;
    gap: 10px;
}

.topo nav a {
    text-decoration: none;
    color: #000;
    font-size: 22px;
    font-weight: 600;
}

/* seção banner */
.seccao-banner {
    width: 100%;
    height: 65vh;
    background-image: url("../assets/alvo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* seção quem somos */
.seccao-quem-somos {
    text-align: center;
    padding: 20px 0;
}

.seccao-quem-somos h2 {
    padding: 10px 0;
    font-size: 30px;
    color: #000;
}

.seccao-quem-somos p {
    padding: 10px 0;
    font-size: 20px;
    line-height: 1.5rem;
}

.container-botao {
    margin: 15px 0;
}

.container-botao button {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    background-color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.container-botao button:hover {
    background-color: #20cfb5;
    color: #000;
}

.texto-destaque {
    height: auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background-color: #9EE86D;
}

.texto-destaque h3 {
    font-size: 24px;
}

.texto-destaque span {
    color: #495151;
    font-weight: bold;
    font-size: 22px;
}

.conteiner-detalhes-quem-somos {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.img-quem-somos {
    width: 50%;
    height: 50vh;
}

#img-time-capacitado {
    object-fit: contain;
}

.conteiner-detalhes-quem-somos div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.texto-detalhe-quem-somos {
    font-size: 22px;
    font-weight: 600;
    color: #000;
}

.conteiner-detalhes-quem-somos div p {
    font-size: 18px;
    text-align: center;
    line-height: 1.5rem;
}

/* secção rodapé */
.rodape div {
    width: 100%;
    height: auto;
    padding: 15px 0;
    background-color: #87c3bc;
}

.rodape div h2 {
    text-align: center;
    font-size: 24px;
    color: #000;
}

.redes-sociais {
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 15px;
}

.icone {
    width: 25px;
}

.redes-sociais li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 15px 0;
}

.redes-sociais li a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}

.redes-sociais li a:hover {
    cursor: pointer;
}

@media (min-width: 320px) and (max-width: 768px) {
    /* topo */
    .topo {
        justify-content: space-around;
    }
    
    .topo-logo {
        width: 80px;
    }

    .topo-logo h1 {
        font-size: 30px;
    }

    .topo nav a {
        display: none;
    }

    /* seção banner */
    .seccao-banner {
        height: 40vh;
    }

    /* seção quem somos */
    .seccao-quem-somos {
        padding: 13px 0;
    }

    .seccao-quem-somos h2 {
        font-size: 24px;
    }

    .seccao-quem-somos p {
        padding: 6px 0;
        font-size: 16px;
        line-height: 1.15rem;
    }

    .texto-destaque {
        padding: 10px 0;
    }

    .container-botao {
        margin: 8px 0;
    }

    .texto-destaque h3 {
        font-size: 22px;
    }
    
    .texto-destaque span {
        font-size: 20px;
    }

    .conteiner-detalhes-quem-somos {
        padding: 10px 0;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    .img-quem-somos {
        display: none;
    }

    .conteiner-detalhes-quem-somos div {
        width: 90%;
        justify-content: center;
        gap: 10px;
    }

    .texto-detalhe-quem-somos {
        font-size: 20px;
    }

    .conteiner-detalhes-quem-somos div p {
        font-size: 16px;
        text-align: center;
        line-height: 1.25rem;
    }

    /* secção rodapé */
    .rodape div {
        padding: 10px 0;
    }
    
    .rodape div h2 {
        font-size: 22px;
    }

    .redes-sociais li a {
        font-size: 12px;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {

    /* secções globais */
    body {
        height: 100vh;
    }

    .seccao-limite {
        max-width: 750px;
        width: 100%;
        height: 18%;
    }

    /* topo */
    .topo-logo h1 {
        font-size: 35px;
    }

    .topo nav a {
        font-size: 20px;
    }

    /* seção banner */
    .seccao-banner {
        height: 55vh;
    }

    /* seção quem somos */
    .seccao-quem-somos h2 {
        font-size: 26px;
    }

    .seccao-quem-somos p {
        padding: 6px 0;
        font-size: 18px;
        line-height: 1.25rem;
    }

    .img-quem-somos {
        height: 40vh;
    }

    .texto-detalhe-quem-somos {
        font-size: 20px;
    }
    
    .conteiner-detalhes-quem-somos div p {
        font-size: 16px;
        text-align: center;
        line-height: 1.25rem;
    }
}